/* start variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-background: #fafafa;
  --text-color: #666666;
  --transition-duration: 0.3s;
  --header-height: 73.56px;
}
/* end variables */

/* start general rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

::selection {
  background-color: var(--main-color);
  color: var(--white-color);
}
/* end general rules */

/* start header */
.header {
  background-color: var(--white-color);
  box-shadow: 0 0px 10px #ddd;
  position: relative;
}

.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header .logo {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}

.header ul.main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .header ul.main-nav {
    margin: auto;
  }
}

.header ul.main-nav > li > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  padding: 0 30px;
  transition: var(--transition-duration);
  color: var(--black-color);
  overflow: hidden;
  background-color: transparent;
  font-size: 18px;
}

@media (max-width: 767px) {
  .header ul.main-nav > li > a {
    height: 40px;
    font-size: 14px;
    padding: 10px;
  }
}

.header ul.main-nav > li > a:hover {
  background-color: var(--light-background);
  color: var(--main-color);
}

.header ul.main-nav > li > a::before {
  content: "";
  position: absolute;
  background: var(--main-color);
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
  transition: var(--transition-duration);
}

.header ul.main-nav > li > a:hover::before {
  left: 0;
}
/* end header */

/* start landing */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .text {
  flex: 1;
}

.landing .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0px;
}

.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  color: var(--text-color);
  max-width: 500px;
  margin: 5px 0px 0px;
}

.landing .image img {
  width: 600px;
  max-width: 100%;
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition-duration);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}

/* end landing */
